<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Counter"
        android:hasCode="true">

        <activity
            android:name="com.example.egui_android.EguiActivity"
            android:exported="true"
            android:label="Counter"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density"
            android:theme="@style/AppTheme">
            <meta-data android:name="android.app.lib_name" android:value="egui_android_counter" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
